<header class="top-header">
    <nav class="top-nav">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/account">Account</a>
        <a href="/about">About</a>
    </nav>
</header>